* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  background: #000;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

table {
  min-width: 400px;
  border: 1px solid chocolate;
}

table thead th {
  padding: 10px;
  background: coral;
  text-transform: capitalize;
}

table tbody tr {
  padding: 10px;
  text-align: center;
}

table tbody tr td {
  padding: 10px;
}

.dark-stripe {
  background-color: #6495EA;
}

.light-stripe {
  background-color: #00bcd4;
}
